USE [master]
GO
/****** Object:  Database [IMCMANAGERDB]    Script Date: 17/02/2026 16:03:17 ******/
CREATE DATABASE [IMCMANAGERDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IMCMANAGERDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\IMCMANAGERDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IMCMANAGERDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\IMCMANAGERDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IMCMANAGERDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IMCMANAGERDB]
GO
/****** Object:  Table [dbo].[TPACIENTES]    Script Date: 17/02/2026 16:03:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPACIENTES](
	[PID] [int] IDENTITY(1,1) NOT NULL,
	[PNOME] [varchar](255) NULL,
	[PCLASSE] [varchar](255) NULL,
	[POBJETIVO] [varchar](255) NULL,
	[PPESO] [decimal](18, 0) NULL,
	[PALTURA] [decimal](18, 0) NULL,
	[PIMC] [decimal](18, 0) NULL,
	[PCAD] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
